<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<br/>
<h1>Aggregated Demands</h1>
<p>Demand 0</p>
<table  id="damand_0s" class="display">
  <thead>
  <tr>
    <th>Specialty ID</th>
    <th>Specialty</th>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    <th>Modify Aggregation</th>
  </tr>
  </thead>
  <tbody>
  	<% @demand_0s=Demand_0s.all %>
  <% @demand_0s.where(:calculation_id => 1).each do |calculation| %>
      <tr>
        <td><%= Demands_0s.select("specialty_id") %></td>
        <td>Specialty Name</td>
        <td><%= Demands_0s.select("Mon") %></td>
		<td><%= Demands_0s.select("Tue") %></td>
		<td><%= Demands_0s.select("Wed") %></td>
		<td><%= Demands_0s.select("Thu") %></td>
		<td><%= Demands_0s.select("Fri") %></td>
        <td><%= button_to "Modify", edit_demands_path %></td>
       </tr>
  <% end %>
  </tbody>
</table>

<br/>

<p>Demand 1</p>
